### 4. Getting busy with stock data (5 + 5 points)

Anaconda comes with a great Pandas extension to retrieve all kinds of data: pandas-datareader. If you continue this Notebook after the exercises, you will use it again. We will gather stock data from a website called [Tiingo](https://www.tiingo.com/) with the datareader. It's not completely public, you need an API-key to get in. I got one, and you can use it.

In [1]:
# import datareader
import pandas_datareader as pdr

# retrieve Apple data between first of Jan and end of 30th of June 2019
apple_data = pdr.get_data_tiingo('AAPL', api_key='83b56978f4990f78e6c167d8886f4510ead7676c', 
                           start='01-01-2019', end='06-30-2019')

# the result is a plain Pandas dataframe
apple_data.head(n=10)

                                   close      high     low    open    volume  \
symbol date
AAPL   2019-01-02 00:00:00+00:00  157.92  158.8500  154.23  154.89  37039737
       2019-01-03 00:00:00+00:00  142.19  145.7200  142.00  143.98  91312195
       2019-01-04 00:00:00+00:00  148.26  148.5499  143.80  144.53  58607070
       2019-01-07 00:00:00+00:00  147.93  148.8300  145.90  148.70  54777764
       2019-01-08 00:00:00+00:00  150.75  151.8200  148.52  149.56  41025314
       2019-01-09 00:00:00+00:00  153.31  154.5300  149.63  151.29  45099081
       2019-01-10 00:00:00+00:00  153.80  153.9700  150.86  152.50  35780670
       2019-01-11 00:00:00+00:00  152.29  153.7000  151.51  152.88  27023241
       2019-01-14 00:00:00+00:00  150.00  151.2700  149.22  150.85  32439186
       2019-01-15 00:00:00+00:00  153.07  153.3900  150.05  150.27  28710324

                                    adjClose     adjHigh      adjLow  \
symbol date
AAPL   2019-01-02 00:00:00+00:00  155.575185  156.491376  151.939974
       2019-01-03 00:00:00+00:00  140.078745  143.556332  139.891567
       2019-01-04 00:00:00+00:00  146.058617  146.344213  141.664840
       2019-01-07 00:00:00+00:00  145.733517  146.620154  143.733659
       2019-01-08 00:00:00+00:00  148.511646  149.565758  146.314757
       2019-01-09 00:00:00+00:00  151.033634  152.235520  147.408275
       2019-01-10 00:00:00+00:00  151.516359  151.683835  148.620012
       2019-01-11 00:00:00+00:00  150.028779  151.417844  149.260361
       2019-01-14 00:00:00+00:00  147.772782  149.023925  147.004363
       2019-01-15 00:00:00+00:00  150.797198  151.112446  147.822039

                                     adjOpen  adjVolume  divCash  splitFactor
symbol date
AAPL   2019-01-02 00:00:00+00:00  152.590174   37039737      0.0          1.0
       2019-01-03 00:00:00+00:00  141.842167   91312195      0.0          1.0
       2019-01-04 00:00:00+00:00  142.384001   58607070      0.0          1.0
       2019-01-07 00:00:00+00:00  146.492084   54777764      0.0          1.0
       2019-01-08 00:00:00+00:00  147.339315   41025314      0.0          1.0
       2019-01-09 00:00:00+00:00  149.043628   45099081      0.0          1.0
       2019-01-10 00:00:00+00:00  150.235661   35780670      0.0          1.0
       2019-01-11 00:00:00+00:00  150.610019   27023241      0.0          1.0
       2019-01-14 00:00:00+00:00  148.610161   32439186      0.0          1.0
       2019-01-15 00:00:00+00:00  148.038773   28710324      0.0          1.0

### Job \#1, collect adjClose (5 pt)

Write a function `collect` that takes a list with stock-symbols, collects for every symbol data from Tiingo between 1/1/2019 and 6/30/2019, selects the 'adjClose' column and converts it into a PLAIN Python list (google how to do this if necessary). After that, you have to add the result into a dictionary, use the symbol as key, and the plain list as value.

Example:
```
res = collect(['AAPL', 'COKE'])
```

`res` would look like this (not necessarily in this order, and it looks worse when you print it):
```
{
    'AAPL': [155.575185, 140.078745, 146.058617, 145.733517, etc...],
    'COKE': [179.447342, 177.235510, 181.220793, 184.787622, etc...]
}
```

In [2]:
def collect(stock_symbols, date_from = '01.01.2019', date_to = '06.30.2019'):
    result = {} 
    for stock_symbol in stock_symbols:
        print('collecting', stock_symbol)
        data =  pdr.get_data_tiingo(stock_symbol,
                                    api_key='83b56978f4990f78e6c167d8886f4510ead7676c',
                                    start=date_from,
                                    end=date_to)
        result[stock_symbol] = data['adjClose'].tolist()  # explain result[stock_symbol]                             
    return result

tiingo = collect(['AAPL', 'COKE'])
tiingo

collecting AAPL
collecting COKE

{'AAPL': [155.575184502,
  140.0787454682,
  146.0586173649,
  145.7335172453,
  148.51164554,
  151.0336343465,
  151.5163587665,
  150.0287794314,
  147.7727816318,
  150.7971978959,
  152.6394319069,
  153.5457716343,
  154.4915174367,
  151.0237828277,
  151.6345769918,
  150.4326917012,
  155.4175602016,
  153.9792384604,
  152.3832924188,
  162.7963477644,
  163.9686784987,
  164.0474906489,
  168.7072590297,
  171.5937540309,
  171.6528631436,
  168.4018619476,
  168.5988923232,
  167.6293077068,
  169.0737909108,
  168.3713367499,
  168.9847474256,
  168.6087860437,
  169.1133657931,
  170.2016750564,
  169.2419841606,
  171.1316847904,
  172.3782935829,
  172.4772307887,
  173.0114916997,
  171.3097717608,
  173.1104289055,
  173.9810763161,
  173.6644772577,
  172.6652114796,
  170.6666799234,
  171.072322467,
  176.9986610916,
  178.9872989272,
  179.7787965732,
  181.7773281294,
  184.1419273469,
  186.0217342562,
  184.5475698905,
  186.1602463443,
  193.0165947029,
  189.0195315905,
  186.7340821376,
  184.8048066254,
  186.4669516821,
  186.7142946965,
  187.9312223272,
  189.2075122814,
  191.9579666014,
  193.2738314379,
  193.6102179374,
  194.9062953328,
  197.9733487111,
  197.3797254766,
  198.487822181,
  196.835570845,
  196.7564210804,
  197.1125950211,
  197.1323824622,
  200.9711460454,
  201.6933876474,
  202.356266926,
  205.2749144957,
  204.9583154373,
  203.0982959691,
  202.1287113527,
  202.4354166906,
  198.5372907839,
  208.2826055506,
  206.9271658318,
  209.4995331813,
  206.2642865532,
  200.7040155899,
  200.7435904722,
  198.5867593868,
  195.8461987874,
  184.4637186267,
  187.3838313381,
  189.6285438305,
  188.794225913,
  187.7215314476,
  181.8515089563,
  185.3377659689,
  181.5436059153,
  178.4447107929,
  177.7593782178,
  177.0243838619,
  176.1801335882,
  177.093910355,
  173.8857593149,
  172.1277322744,
  178.4248460806,
  181.3052293674,
  183.9671008186,
  188.8637524061,
  191.2773149533,
  193.4922303772,
  192.8764242952,
  192.8366948706,
  191.4362326519,
  192.5784536104,
  197.1076080199,
  196.5315313626,
  198.1107759922,
  197.4353757732,
  197.23672865,
  194.2470894455,
  198.4484761017,
  198.3888819647,
  196.5811931434],
 'COKE': [179.4473422873,
  177.2355100744,
  181.220793341,
  184.7876218646,
  190.7655467645,
  192.6087402753,
  198.8755982121,
  207.8923016028,
  199.9217350695,
  200.5992332249,
  198.3774378037,
  204.4848844098,
  206.6867534146,
  207.3443251536,
  213.0233538085,
  213.2226179719,
  211.0879978256,
  210.8286514527,
  209.9209391475,
  211.2176710121,
  215.2574895131,
  216.4444979122,
  219.4469309216,
  216.5841459591,
  217.4519588223,
  219.9456739464,
  220.2149951799,
  224.0453416105,
  224.3146628439,
  225.362023196,
  225.9106405233,
  224.6139086588,
  223.4368751202,
  224.5740092168,
  226.2098863382,
  226.2697355012,
  218.2499476621,
  211.4271430825,
  228.5839031364,
  247.2368922647,
  247.5760375216,
  244.2344592553,
  247.7954844525,
  249.8802302963,
  247.3565905907,
  247.9750319414,
  255.3664035693,
  254.2691689147,
  257.3713505291,
  255.5958253607,
  257.1020292957,
  257.8900432749,
  258.3089874157,
  257.9399175774,
  259.9947388396,
  258.5982583701,
  262.3089064748,
  280.3035548104,
  276.9619765441,
  283.2561135173,
  287.106409669,
  280.09408274,
  282.9468928419,
  285.0715381277,
  293.9292142485,
  296.0538595343,
  290.4878873773,
  290.8868817971,
  293.95913883,
  292.9217533384,
  289.779672282,
  297.4004657013,
  294.9267002982,
  293.9890634115,
  301.3305607369,
  303.2158093707,
  308.6122088993,
  319.5945303059,
  331.913483019,
  330.9851235025,
  327.4214208428,
  324.4566598065,
  327.631050411,
  327.9205388623,
  333.3110134738,
  338.6915057248,
  338.9909765366,
  358.0173554429,
  368.8781635489,
  386.1276823055,
  399.1546626164,
  363.8570362719,
  325.6445606931,
  324.366818563,
  312.4977920574,
  313.3363103303,
  310.0022019595,
  318.1677727598,
  303.8630503187,
  306.7978642738,
  305.120827728,
  305.6598751892,
  311.1801204857,
  301.4772661851,
  297.9335282461,
  295.4678852294,
  308.2453065306,
  310.5013199791,
  309.9822372387,
  311.8788857131,
  317.0297836752,
  310.3016727713,
  313.5758869797,
  306.4384992997,
  309.7925723913,
  303.3639322991,
  299.2711645386,
  301.217724815,
  301.8865429612,
  297.0251334505,
  299.5806177107,
  291.8243236865,
  301.397407302,
  298.7221347171]}

### Job \#2, getting the averages (5 pt)

Write a function `get_averages` that receives a dictionary in which every value is a plain list. These lists __might be empty__. Your job is to produce a new dictionary, containing the same keys, but with the averages of the lists as values. If I digest the result of the previous exercise, the result of `get_averages` should look like this:
```
# collect Tiingo data
tiingo_data = collect(['AAPL', 'COKE'])

# run get_averages on the result
res = get_averages(tiingo_data)

res -> {'AAPL': 180.60922945689273, 'COKE': 270.9550740857307}
```

When an empty list is encountered, a False should be associated with the key value. Like this:
```
res -> {'AAPL': 180.60922945689273, 'COKE': 270.9550740857307, 'BOGU': False}
```

In [5]:
def get_averages(a_dict):
    result = {}
    for key, values in a_dict.items(): #items()?
        print('calculating average of', key) 
        if len(values) == 0:
            result[key] = False
        else:
            result[key] = float(sum(float(value) for value in values)/len(values)) 
    return result


stock_symbols = ['AAPL', 'COKE']

tiingo_data = collect(stock_symbols)

tiingo_data['BOGU'] = []

res = get_averages(tiingo_data)

res

collecting AAPL
collecting COKE
calculating average of AAPL
calculating average of COKE
calculating average of BOGU

{'AAPL': 180.60922945689273, 'COKE': 270.9550740857307, 'BOGU': False}

### 5. Constituent lists and stocks revisited. (10 points)

Implement the `search_all_stocks_smarter` function: find all list indexes of multiple stocks in a constituents list. Check the previous Notebook's exercises if you need a more thorough description. This time you:

1. Check which stocks are worth looking for by using sets. Do not search for list indexes of stocks that can't be found.
2. Collect all list indexes in a dictionary. Your stocks are the keys. If you have found multiple list indexes: put them in a list. A single list index is stored as a regular value. Stocks that can't be found in constituent list get a False value.
3. Return the result as a JSON string, not a dictionary.

Run the next cell to get some test-data.

In [7]:
DJ = ['3M','AMERICAN EXPRESS','APPLE','BOEING','CATERPILLAR','CHEVRON', 'CISCO SYSTEMS',
      'COCA COLA', 'COCA COLA', 'DOW ORD SHS','EXXON MOBIL','GOLDMAN SACHS GP.','HOME DEPOT','INTEL', 'INTEL'
      'INTERNATIONAL BUS.MCHS.','JP MORGAN CHASE & CO.','JOHNSON & JOHNSON', 
      'MCDONALDS','MERCK & COMPANY','MICROSOFT',"NIKE 'B'",'PFIZER','PROCTER & GAMBLE', 'INTEL',
      'TRAVELERS COS.','UNITED TECHNOLOGIES','UNITEDHEALTH GROUP','VERIZON COMMUNICATIONS',
      "VISA 'A'",'WALGREENS BOOTS ALLIANCE','WALMART','WALT DISNEY']

In [14]:
import json

stocks = ['TRAVELERS COS.','UNITED TECHNOLOGIES','UNITEDHEALTH GROUP', 'COCA COLA'] 

def search_all_stocks_smarter(constituents, stocks):
    results = {}
    
    constituents_s = set(constituents)
    stocks_s = set(stocks) 
    searchable_stocks = stocks_s.intersection(constituents_s) #intersection, what 2 sets have in common 
    non_searchable_stocks = stocks_s.difference(constituents_s) #difference, Elements present on one set, but not on the other.

    for stock in non_searchable_stocks:
        results[stock] = False
    for stock in searchable_stocks:
         results[stock] = [ i for i in range(len(constituents)) if constituents[i] == stock ]
         results[stock] = results[stock][0] if len(results[stock]) == 1 else results[stock]
    return json.dumps(results)
    
search_all_stocks_smarter(DJ, stocks)

'{"UNITED TECHNOLOGIES": 25, "COCA COLA": [7, 8], "TRAVELERS COS.": 24, "UNITEDHEALTH GROUP": 26}'