### 4. Create a new dataframe of prices
In this assignment we will calculate some betas and returns. But first, we need to create a DataFrame. Let's create a DataFrame of the prices of the S&P500, Accenture, Citigroup, JP Morgan, Pepsi Co and Nike (the tickers are: SPY', 'ACN', 'C', 'JPM' and 'NKE), running from "01-01-2019" to "20-12-2019". In other words run the previously created function using a different timeframe and different stocks. Call this DataFrame df_prices.

In [7]:
df_prices = prep(['SPY', 'ACN', 'C', 'JPM', 'NKE'], "01-01-2019", "20-12-2019")
df_prices

                   SPY         ACN          C         JPM         NKE
2019-01-02  245.534673  138.844462  52.062969   95.674445   73.280125
2019-01-03  239.675524  134.104058  51.119553   94.325696   71.983920
2019-01-04  247.703638  139.318503  53.619120   97.803051   73.863912
2019-01-07  249.656688  139.802419  54.085965   97.871044   74.922644
2019-01-08  252.002311  143.337971  53.940076   97.686492   75.922009
...                ...         ...        ...         ...         ...
2019-12-16  317.943639  205.000000  76.910000  136.452281   98.810000
2019-12-17  318.013298  203.400000  77.740000  137.286851   99.650000
2019-12-18  318.033201  205.760000  77.920000  137.147756  100.570000
2019-12-19  319.336820  208.300000  78.200000  136.462216  101.150000
2019-12-20  320.730000  211.100000  78.510000  136.352927   99.960000

[246 rows x 5 columns]

### 4.1 Calculate returns from prices (5 points)

Next, we are going to create a DataFrame of returns from prices. Create a function called 'calc_returns' which takes as input 'df_prices' and converts the prices into daily logarithmic returns, multiplied by 100 and drops the NAs resulting from the return calculation. Assign the resulting DataFrame to the variable `Returns`.
You will need `numpy` for the logs.

In [28]:
import numpy as np

def calc_returns(df):
    
    x = np.log(df).diff().mul(100).dropna()
    
    return x

Returns = calc_returns(df_prices)
Returns

                 SPY       ACN         C       JPM       NKE
2019-01-03 -2.415215 -3.473828 -1.828687 -1.419758 -1.784667
2019-01-04  3.294700  3.814665  4.773866  3.620213  2.578162
2019-01-07  0.785370  0.346743  0.866901  0.069496  1.423180
2019-01-08  0.935153  2.497514 -0.270100 -0.188745  1.325044
2019-01-09  0.466256  0.501702  1.645245 -0.169180 -0.182625
...              ...       ...       ...       ...       ...
2019-12-16  0.684655 -0.806495  0.678411  0.386650  1.058103
2019-12-17  0.021907 -0.783550  1.073402  0.609758  0.846523
2019-12-18  0.006258  1.153596  0.231273 -0.101368  0.918996
2019-12-19  0.409062  1.226891  0.358699 -0.501109  0.575056
2019-12-20  0.435324  1.335261  0.395636 -0.080119 -1.183446

[245 rows x 5 columns]

### 4.2 From returns to betas (15 points)

Now, we're going to do a couple of capm regressions, obtaining betas from those regressions and putting the betas in a list. We will assume a zero risk free rate to keep things simple (so the the capm regression only has two variables, the stock itself and the market, in this case the S&P500, the ticker for which is 'SPY'). Also, you need to import statsmodels.regression.linear_model (see below).

The assignment is: create a function 'beta_calculator' that takes as input the DataFrame'Returns' (created in the previous exercise) and outputs a _list_ of stock betas. The idea behind this exercise is that you can do hundreds of capm regressions using this function, the only thing you have to do is expand the list of stock tickers when you retrieve the data. The function should loop over the columns (stocks) and for each stock run a regression that takes the first column (in our case 'SPY') as the independent variable and the other columns as dependent variable and then runs the appropriate regression.

Some hints:

1. We will assume a zero risk free rate here, so your capm regression is $Rit = a + b(RMt) + Eit$, where Rit is the return on stock i at time t and RMit is the return on the S&P500 at time t and Eit is a normally distributed error term.

2. You can use a for loop to loop over the stocks

3. You could use the 'from_formula' module of statsmodels to do the regressions, this way you don't have to specify each regression separately. Feel free to use something else if this method seems too complicated.

In [9]:
import statsmodels.regression.linear_model as sm

In [10]:
import statsmodels.formula.api as smf

In [11]:
def beta_calculator(returns):
    # step 1: find out what column-labels returns has
    # result will be like [blabla, boeboe, foo, etx] 
    # result is empty list
    betas=[]
    # step 2: what is the name of the first column and store it
    # result should be blabla 
    #column_1 = returns.iloc[:,0].stored() 
    # step 3: start a loop in which you regress blabla against itself PLUS all other column names
        # blabla ~ blabla -> do the regression -> beta
        # blabla ~ boeboe -> do the regression -> beta
        # blabla ~ foo -> beta
        
    for stock in returns.columns[0:]:
        model = smf.ols(formula = f'{stock} ~ {returns.columns[0]}', data = returns) #f'{stock} ~ {returns.columns[0]}
        fit = model.fit()
        Regression_result = fit.summary()
        Beta = fit.params[returns.columns[0]]  
        betas.append(Beta)  
        
        # after EVERY regression, you will store the beta into result
        
    # step 4: return result
    return betas 

betas = beta_calculator(Returns)
print(betas)

[1.0000000000000002, 0.9867163630816228, 1.4829721139229428, 1.0513893784748416, 1.1290489801639918]

### 4.3 Rounded betas (5 points)

Create a function called 'round_betas' that rounds a list of floats (in our case the list of betas) to one with rounded floats (2 decimals behind the comma). Use a list comprehension

In [13]:
def round_betas(float_list):
    # your code here
    
    result = [beta.round(2) for beta in float_list]
    return result 

round_betas(betas)

[1.0, 0.99, 1.48, 1.05, 1.13]

### 4.4 Standard deviation  (5 points)
Create a function `stdevs` that calculates the daily standard deviation of the stocks in a DataFrame and produces the result in another DataFrame. The resulting DataFrame must have stock tickers as the index and the daily standard deviation of the stocks as rows. The (single) column name should be 'Standard Deviation'. No need to write a standard-deviation-function yourself. We're passed that now.

In [24]:
from numpy import std
def stdevs(df):
    # your code here
    s = {}
    s['Standard Deviation'] = pd.Series([std(df[column]) for column in df.columns],
                                   index=[column for column in df.columns])

    return pd.DataFrame(s)

print(stdevs(Returns))

     Standard Deviation
SPY            0.796948
ACN            1.072144
C              1.543643
JPM            1.184213
NKE            1.320967

### 4.5a Value at Risk (5 points)

Create a function called `var_series` that takes a Series of returns as input and gives the 95% daily VaR of that Series as output. You could test the function by using it to calculate the 95% daily VaR of the S&P500 (e.g. use Returns['SPY'] as input). The result should be about -1.219.

In [15]:
def var_series(daily_returns):
    # your code here
    var_level = 95
    var_95 = np.percentile(daily_returns, 100 - var_level)
    round(var_95, 2)
    return var_95 

var_series(Returns['SPY'])

-1.2291671316215214

### 4.5b (5 points)

Create a function called `df_var_creator` that takes two inputs: a function and a DataFrame (in our case the previously created function 'var_series' and our `Returns` DataFrame) and produces as output a DataFrame which has stock tickers as the index and the 95% daily VaR as rows. The column name should be '95% Daily VaR'.

In [25]:
def df_var_creator(func, df):
    s = {}
    s['95% Daily VaR'] = pd.Series([func(df[column]) for column in df.columns],
                                   index=[column for column in df.columns])

    return pd.DataFrame(s)

print(df_var_creator(var_series, Returns))

     95% Daily VaR
SPY      -1.219167
ACN      -1.565965
C        -2.306362
JPM      -1.797456
NKE      -2.094425