### 4. Calculating expected returns (15 points)

Below is a dataframe (`df_erp`) that contains the daily equity risk premium (i.e. the market return minus the risk free return) of ten days in december last year. Suppose you are doing an event study and have calculated alphas and betas for two stocks (stock a and b), which you have stored in a list. Now you want to determine expected returns for these two stocks.

Write a function that takes as input `df_erp`, `beta_list`, `alpha_list` and `risk_free_rate` and calculates the expected return on each day for each stock using the capm. The output should be a dataframe with the columns as 'market', 'stock a', 'stock b', the dates as index, and the expected returns as rows. Call the dataframe `df_expected`.

Hint 1: Convert the list of alphas and betas into numpy arrays

Hint 2: The numpy function np.outer will likely come in handy

Hint 3: Remember expected return of a stock using the CAPM is calculated by multiplying the stock's beta by the equity risk premium and then adding the stocks alpha and risk free rate, i.e er = b* erp + alpha + rf.

In [20]:
dates_2 = ['2-12-2019', '3-12-2019', '4-12-2019',
                 '5-12-2019', '6-12-2019', '9-12-2019',
                 '10-12-2019', '11-12-2019', '12-12-2019']

df_erp = pd.DataFrame([0.02, 0.04, 0.08, 0.02, 0.03, 0.10, 0.04, 0.06, 0.04],
         columns=['equity risk premium'],
          index= dates_2)

beta_list = [1, 1.1, 1.5]
alpha_list = [0, 0.015, 0.012]
risk_free_rate = 0.0072

#df_erp
df_erp

            equity risk premium
2-12-2019                  0.02
3-12-2019                  0.04
4-12-2019                  0.08
5-12-2019                  0.02
6-12-2019                  0.03
9-12-2019                  0.10
10-12-2019                 0.04
11-12-2019                 0.06
12-12-2019                 0.04

In [21]:
def er_calculator(dataframe, beta_list, alpha_list, risk_free_rate):
# your code here
    alpha_array = np.array(alpha_list)
    beta_array = np.array(beta_list)    
    c = np.outer(dataframe['equity risk premium'], beta_array)
    
    
    df_expected = pd.DataFrame(data=np.add(c+risk_free_rate, alpha_array),
                               columns = ['market','stock a','stock b'],
                               index = dataframe.index)
    return df_expected

df_expected = er_calculator(df_erp, beta_list, alpha_list, risk_free_rate)
df_expected

            market  stock a  stock b
2-12-2019   0.0272   0.0442   0.0492
3-12-2019   0.0472   0.0662   0.0792
4-12-2019   0.0872   0.1102   0.1392
5-12-2019   0.0272   0.0442   0.0492
6-12-2019   0.0372   0.0552   0.0642
9-12-2019   0.1072   0.1322   0.1692
10-12-2019  0.0472   0.0662   0.0792
11-12-2019  0.0672   0.0882   0.1092
12-12-2019  0.0472   0.0662   0.0792

### 5. Calculating abnormal returns (5 points)

Below is a dataframe (`df_actual`) that contains the actual (daily) returns of the market, stock a and stock b. Write a function that takes the previously created dataframe of expected (`df_expected`) returns and outputs a dataframe of abnormal returns for stocks a and b (thus dropping the column 'market'). Call the dataframe `df_abnormal`.

In [22]:
dict_3 = {'market': [0.0272, 0.0472, 0.0872, 0.0272, 0.0372, 0.1072, 0.0472, 0.0672, 0.0472],
        'stock a': [0.0242, -0.0082, -0.489, 0.0185, 0.0766, 0.002, -0.0028, -0.003, -0.002],
          'stock b': [0.228, -0.0297, 0.0387, 0.0435, 0.079, 0.031, -0.058, 0.029, 0.002]
         }

df_actual = pd.DataFrame(dict_3, index= dates_2)

df_actual

            market  stock a  stock b
2-12-2019   0.0272   0.0242   0.2280
3-12-2019   0.0472  -0.0082  -0.0297
4-12-2019   0.0872  -0.4890   0.0387
5-12-2019   0.0272   0.0185   0.0435
6-12-2019   0.0372   0.0766   0.0790
9-12-2019   0.1072   0.0020   0.0310
10-12-2019  0.0472  -0.0028  -0.0580
11-12-2019  0.0672  -0.0030   0.0290
12-12-2019  0.0472  -0.0020   0.0020

In [23]:
def ar_calculator(df_expected, df_actual):
    return pd.DataFrame(data=np.add(df_actual, -df_expected))[['stock a','stock b']]

df_abnormal = ar_calculator(df_expected, df_actual)
df_abnormal

            stock a  stock b
2-12-2019   -0.0200   0.1788
3-12-2019   -0.0744  -0.1089
4-12-2019   -0.5992  -0.1005
5-12-2019   -0.0257  -0.0057
6-12-2019    0.0214   0.0148
9-12-2019   -0.1302  -0.1382
10-12-2019  -0.0690  -0.1372
11-12-2019  -0.0912  -0.0802
12-12-2019  -0.0682  -0.0772

### 6. Average abnormal returns (5 points)

Write a function that takes the previously created dataframe `df_abnormal` and creates a column called 'avg_ar', which contains the average abnormal returns of stock a and stock b for each date.

In [24]:
def aar_calculator(df_abnormal):
    return pd.DataFrame(data=(df_abnormal['stock a']+df_abnormal['stock b'])/2,
                        columns = ['avg_ar'],
                        index = df_abnormal.index)

df_aar = aar_calculator(df_abnormal)
df_aar

             avg_ar
2-12-2019   0.07940
3-12-2019  -0.09165
4-12-2019  -0.34985
5-12-2019  -0.01570
6-12-2019   0.01810
9-12-2019  -0.13420
10-12-2019 -0.10310
11-12-2019 -0.08570
12-12-2019 -0.07270

### 7. Comparing performance (5 points)

The Sharp Ratio is a very well known performance indicator for investments. Write a function that takes the dataframe  below of stock returns (`df_SR`) and the `risk_free_rate` as input and gives as output the largest Sharp Ratio in this set of stock markets, round to two numbers, assume a daily risk free rate of 0.7%. Test your function using the dataframe below.

In [25]:
risk_free_rate = 0.007

dict_SR = {'S&P500': [-0.01, 0.00, 0.52, 0.00, -0.57, 0.30, 0.00, 0.85, -0.70, 0.35],
          'MSCI ACWI': [0.05, -0.02, 0.35, 0.27, -0.38, 0.16, 0.00, 0.74, -0.50, -0.11],
         'DAX': [0.00, 0.00, 0.00, 0.97, -0.35, 0.00, 0.00, 1.05, -1.60, -0.48,]
         }

dates_1 = ['04-01-2002', '07-01-2002', '08-01-2002',
        '09-01-2002', '10-01-2002', '11-01-2002',
        '14-01-2002', '15-01-2002', '16-01-2002','17-01-2002']

df_SR = pd.DataFrame(dict_SR, index = dates_1)

df_SR

            S&P500  MSCI ACWI   DAX
04-01-2002   -0.01       0.05  0.00
07-01-2002    0.00      -0.02  0.00
08-01-2002    0.52       0.35  0.00
09-01-2002    0.00       0.27  0.97
10-01-2002   -0.57      -0.38 -0.35
11-01-2002    0.30       0.16  0.00
14-01-2002    0.00       0.00  0.00
15-01-2002    0.85       0.74  1.05
16-01-2002   -0.70      -0.50 -1.60
17-01-2002    0.35      -0.11 -0.48

In [14]:
def highest_SR (dataframe, risk_free_rate):
    return np.round(np.max(np.mean(dataframe) / np.std(dataframe)), decimals=2)

highest_SR(df_SR, risk_free_rate)

0.17